---
import ThemeToggle from "./ThemeToggle.astro";
const LINKS = [
    {
        text: 'Experiencia',
        link: '#experience'
    },
    {
        text: 'Formación',
        link: '#education'
    },    
    {
        text: 'Proyectos',
        link: '#projects'
    },
]
---

<header class="fixed top-0 z-10 flex flex-wrap items-center justify-center w-full me-5 my-2 gap-5 md:gap-10">
    <a href="#top"><img class="rounded-full size-12" src="https://media.licdn.com/dms/image/C4D03AQG3Q5xPLmpD6A/profile-displayphoto-shrink_800_800/0/1658943242555?e=2147483647&v=beta&t=_ifgHI_6eYHlzYKoFRErww4ldgXnMgsOTrqZYh6cQ2U" alt="foto"></a>
    <div class="flex flex-row gap-5 md:gap-10">
    <nav class="flex flex-row gap-5 md:gap-10">
        {LINKS.map((item)=>(
            <a class="hover:text-cyan-700 font-semibold" href={item.link}>{item.text}</a>
        ))}
    </nav>
    <ThemeToggle />
    </div>
</header>