---
import SocialBadge from "./SocialBadge.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
---

<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4 pt-20">Mirian Rodriguez <a class="flex items-center" target="_blank" href="https://www.linkedin.com/in/mirodriiguez/"></a></h1>
<h2 class="mb-4 text-xl font-normal">Backend & Frontend developer</h2>
<p class="mb-4 text-base font-normal">Profesional en sistemas con gran potencial. Como desarrolladora me destaco por mi versatilidad y compromiso para asumir diversas tareas ya sea de manera individual o en equipo. Soy detallista, siempre busco mejorar el resultado obtenido.</p>
<nav>
  <SocialBadge href="https://www.linkedin.com/in/mirodriiguez/">
      <LinkedIn/>
      LinkedIn
  </SocialBadge>
  <SocialBadge href="https://github.com/MirianRodriguez/">
      <Github/>
      GitHub
  </SocialBadge>
  <SocialBadge href="mailto:mirodriiguez8@gmail.com">
      <Mail/>
      Email
  </SocialBadge>
</nav>