---
import Project from "./Project.astro";

const PROJECTS = [
    {
        image: '/projects/portfolio.jpg',
        tooltip: 'Ver repositorio',
        title: 'Portfolio', 
        description: 'Usted est谩 aqu铆 ', 
        technologies: ['Astro', 'Tailwind'], 
        link: 'https://github.com/MirianRodriguez/Portfolio'
    },
    {
        image: '/projects/clima.jpg',
        tooltip: 'Ver despliegue',
        title: 'Consulta de clima', 
        description: 'Uno de mis primeros proyectos utilizando React. Es una web para consultar el clima con un buscador por ciudad. Los datos se obtienen consultando a la API Visual Crossing.', 
        technologies: ['React', 'MUI'], 
        link: 'https://weather-by-mirian.netlify.app/'
    },
    {
        image: '/projects/disney.jpg',
        tooltip: 'Ver repositorio',
        title: 'API Disney', 
        description: 'API que permite gestionar la informaci贸n de los personajes del mundo de Disney, vinculados con las pel铆culas en las que participaron y los g茅neros de las mismas.', 
        technologies: ['Java', 'Spring Boot', 'MySQL'], 
        link: 'https://github.com/MirianRodriguez/Disney-API'
    },
    {
        image: '/projects/lo_que_busques.jpg',
        tooltip: 'Ver repositorio',
        title: 'Lo que busques', 
        description: 'Aplicaci贸n web cuyo objetivo es nuclear a peque帽os emprendedores, los cuales tienen acceso al sistema con la posibilidad de publicar la informaci贸n referente a su emprendimiento, as铆 como de los distintos productos que ofrecen. Los visitantes y usuarios que se registren al sistema, pueden ver los productos y contactar con el emprendedor para concretar las compras. Un administrador del sitio, se encarga de dar de alta o baja a los emprendimientos, crear nuevas categor铆as, entre otras funcionalidades. Este proyecto fue desarrollado en equipo.', 
        technologies: ['Java', 'Spring Boot', 'Spring Security', 'MySQL', 'Bootstrap'], 
        link: 'https://github.com/MirianRodriguez/Lo-que-busques'
    },
    {
        image: '/projects/tissu.jpg',
        tooltip: 'Ver video-demo',
        title: 'Tissu', 
        description: 'Sistema de gesti贸n para taller de confecciones a medida. Permite gestionar informaci贸n sobre clientes, compras de materiales, stock, pagos recibidos, etc.; registrar pedidos con las medidas de cada prenda estimando la fecha de entrega en funci贸n de la carga de trabajo actual, y ofreciendo un presupuesto acorde a los costos actuales de materiales y de confecci贸n; enviar notificaciones automatizadas al cliente, y asignar tareas a los confeccionistas.', 
        technologies: ['Laravel', 'MySQL', 'Bootstrap'], 
        link: 'https://www.youtube.com/watch?v=PmVHQlIaddA'
    }
]
---

<div class="container mx-auto md:px-6">
  <section class="mb-32 text-center lg:text-left">
    <div class="grid gap-x-6 gap-y-6 lg:grid-cols-3">
      {PROJECTS.map((project) => (
          <Project {...project}/>
      ))}
    </div>
  </section>
</div>