---
const { class: className, id } = Astro.props
---
<section
  id={id}
  data-section={id}
  class={`section ${className} w-full mx-auto container lg:max-w-4xl md:max-w-2xl pt-20 md:pt-6 px-5`}
>
  <slot />
</section>